<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-capable" content="yes">
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js" data-auto-replace-svg="nest"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href= "{{ url_for('static',filename='../static/jobs.css') }}" type="text/css">
</head>
<body>
{% block content %}
<section class="header">
    <h1 class="title">DevJobs</h1>
    <div id="search-menu" class="search-menu">
        <a id="search-icon" class="fas fa-search"></a>
    </div>
    <div class="search-container">
        <form class="search_form" id="search_input" data-user="{{ user['ID']}}" method="POST" novalidate>
            {{ form.hidden_tag() }}
            {{ form.csrf_token() }}
            {{ form.searched(size=32, class="search_input", placeholder="Search Jobs (for state search enter state abbreviation)") }}
            {{ form.submit(form="search_input", class="search_btn") }}
        </form>
    </div>
    <div class="menu">
        <a id="menu-icon" class="far fa-user-circle"></a>
        <a href="/jobs/{{ user['ID'] }}/favorites" class="favorites-btn">Favorites</a>
        <a href="/" class="home-btn">Logout</a>
    </div>
</section>
<section class="jobs-background">
    <div class="title-wrap">
        <h3>Internships & Entry-Level Jobs</h3><p>Posted in the last 24 hours</p>
    </div>
    <div class="jobs-container" data-count="{{ job_count }}">
        {% for i in range(job_count) %}
            <div class="job-container">
                <div class="favorite">
                    {% if jobs[i].favorite  %}
                        <label for="{{ jobs[i].idx }}" class="medium material-icons">bookmark</label>
                        <form class="favorite_form" method="POST" novalidate>   
                            {{ forms[i].hidden_tag() }}
                            {{ forms[i].csrf_token() }}
                            {{ forms[i].add_to_favorites(id=jobs[i].idx, class="favorite_input", value=jobs[i], data_user=user['ID'], checked=True) }}
                        </form>
                    {% else %}
                        <label for="{{ jobs[i].idx }}" class="medium material-icons" unchecked>bookmark_border</label>
                        <form id="{{ i }} " class="favorite_form" method="POST" novalidate>
                            {{ forms[i].hidden_tag() }}
                            {{ forms[i].csrf_token() }}
                            {{ forms[i].add_to_favorites(id=jobs[i].idx, class="favorite_input", value=jobs[i], data_user=user['ID'], style="float: right;", checked=False) }}
                        </form>
                    {% endif %}
                </div>
                <a href="{{ jobs[i].link }}" target="_blank">
                    <div class="job-info">
                        <p class="title-text">{{ jobs[i].title }}</p>
                        <p class="sub-text">{{ jobs[i].company }}</p>
                        <p class="sub-text" >{{ jobs[i].location }}</p>
                        <p class="sub-text">{{ jobs[i].date }}</p>
                        <img class="logo" src="{{ jobs[i].logo }}" alt="logo">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
<section class="footer">
    <a href="/">Logout</a>
</section>
</body>
<script>
    // css for menu button
    let menu = document.querySelector(".menu"),
        menuBtn = document.getElementById("menu-icon"),
        menuBtnDimensions = menuBtn.getBoundingClientRect(),
        favoritesBtn = document.querySelector(".favorites-btn"),
        logoutBtn = document.querySelector(".home-btn"),
        menuClicked = false,
        searchIconClicked = false;
        
    menu.addEventListener("click", () => {
        if (!searchIconClicked) menuClicked = !menuClicked;
        if (menuClicked && !searchIconClicked) {
            favoritesBtn.style.display = "block";
            favoritesBtn.style.top = `${menuBtnDimensions.top + (menuBtnDimensions.height - 2.5)}px`;
            logoutBtn.style.display = "block";
            logoutBtn.style.top = `${favoritesBtn.getBoundingClientRect().top + (favoritesBtn.getBoundingClientRect().height - 17)}px`;
        } else {
            favoritesBtn.style.display = "none"; 
            logoutBtn.style.display = "none";
        }
    });

    // css for search icon (less 650px)
    let searchIcon = document.getElementById("search-menu"),
        searchContainer = document.querySelector(".search-container");
    
    searchIcon.addEventListener("click", () => {
        if (!menuClicked) searchIconClicked = !searchIconClicked;
        if (searchIconClicked && !menuClicked) {
            searchContainer.style.display = "flex";
            searchContainer.style.top = `${searchIcon.getBoundingClientRect().top + searchIcon.getBoundingClientRect().height + 5}px`;
        } else {
            searchContainer.style.display = "";
        }
    });
    $(document).ready(function() {
        /*
        $(".search_form").on("change", function(event) {
            event.preventDefault();
            $.ajax({
                data : {
                    searched : $(".search_input").val()
                },
                type : "POST",
                url : `/jobs/${this.dataset.user}`
            });
            this.form.submit();
        });
        */
        $(".favorite_input").on("change", function(event) { 
            event.preventDefault();
            // css for favorites icon
            if (this.checked) {   
                this.parentNode.previousElementSibling.innerHTML = "bookmark";
            } else {
                this.parentNode.previousElementSibling.innerHTML = "bookmark_border";  
            }
            $.ajax({
                data : {
                    checked : this.checked,
                    job : this.value,
                    id : this.id
                },
                type : "POST",
                url : `/jobs/${this.dataset.user}`
            });
        }); 
    }); 
    /**/
</script>
</html>
